@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root{
    --dark_bg : #3d3d3d;
    --dimmed_white : #ffffffce;
    --hangno_blue_light : #7ba9ff;
    --hangno_blue_dark : #2d5eff;
}

html {
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
::-webkit-scrollbar {
    width: 0px; 

}

*{
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    overflow-x: hidden;
    transition: all 0.5s;
}
body{
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: #000;
}

nav{
    position: fixed;
    width: 100vw;
    top: 0;
    height: fit-content;
    backdrop-filter: blur(6px) saturate(180%);
    background-color: #0000004b;
    overflow: auto;
    font-size: 17px;
    z-index: 1000;
    animation: slideDown 1s;
    
}

.link_container{
    width: fit-content;
    margin: auto;
    float: right;

}
.nav_links{
    text-decoration: none;
    display: inline-block;
    padding: 2px 15px 3px 15px;
    color: #ffffffce;
    margin: 2px 5px;
    width: fit-content;
    animation: slideDown 0.6s;
}
.active{
    color: white;
    border-bottom: 2.3px solid white;
}

#top_name{
    text-decoration: none;
    display: inline-block;
    padding: 2px 15px 3px 15px;
    color: #ffffff;
    font-size: larger;
    margin: 2px 5px;
    width: fit-content;
    animation: slideDown 1s;
}

#vertical_nav{
    border: none; outline: none;
    background: #00000000;
    display: none;
}
.content{
    display: none;
    width: 120px;
}

.left_div{
    float: left;
    top: 0;
    width: 50%;
    height: 100%;
    height: 70%;
    display: flex;
    position: relative;
    background: url("https://i.ibb.co/dt020M6/bg2.jpg") center center no-repeat;
    background-size: cover;
    overflow: hidden;
    animation: fadd 1s;
}
.ppp{
    color: white; 
    background-color: #00000031; 
    bottom: 0; 
    padding: 30px 0px;
    height: fit-content;
    width: 100%;
    position: absolute;
    animation: slideDown 3s;
    text-align: center;
}
.right_div{
    float: right;
    width: 50%;
    height: 100%;
    height: 70%;
    display: flex;
    /* background: url("https://source.unsplash.com/1080x1080/?gym,fitness") center center no-repeat; */
    background-color: #000000;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.contact_us{
    width: 30px;
    height: fit-content;
    position: fixed;
    right: 20px;
    top: 0; bottom: 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    z-index: 101;
}
.btn0{
    background: url("https://i.ibb.co/SXQ9cDb/phone.png") center center no-repeat;
    background-size: contain;
    width: 28.5px;
    height: 28.5px;
    margin: auto;
    margin-bottom: 17px;
}
.btn1{
    background: url("https://i.ibb.co/pRLWvdX/gmail.png") center center no-repeat;
    background-size: contain;
    width: 26px;
    height: 26px;
    margin: auto;
    margin-bottom: 17px;
}
.btn2{
    background: url("https://i.ibb.co/VCV5kYY/instagram.png") center center no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin: auto;
}
.btnl:hover{
    transform: scale(1.2);
}

.top_bar{
    width: 100vw;
    height: 30vh;
    position: relative;
    background-color: #00000000;
    overflow: visible;
}
.brand{
    position: absolute;
    padding: 0px 2px;
    border-radius: 20px;
    width: fit-content;
    color: white;
    left: 0; right: 0; top: 70px;
    font-size: 4rem;
    margin: auto;
    animation: slideDown 3s;
    z-index: 99;
}

#join{
    position: absolute;
    width: fit-content;
    height: fit-content;
    bottom: 69px;
    left: 0; right: 0;
    margin: auto;
    background-color: var(--hangno_blue_dark);
    color: white;
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 20px;
    outline: none;
    border: 1px solid rgb(61, 61, 61); 
    animation: slideDown 3s; 
    text-decoration: none;
}
#join:hover{
    transition-duration: 0.45s;
    transform: scale(0.9);
    font-weight: bold;
}  

.op{
    width: 100%;
    height: 100%;
    background: linear-gradient(#000000,#00000096,#00000046,#000000c9);
}
.smooth_combine{
    float: right;
    width: 100px;
    height: 100%;
    background: linear-gradient(90deg,#00000000, #00000030,#0000006c, #000000);
}

.lean_body{
    position: relative;
    width: 100vw;
    height: auto;
    background-color: #000000;
    color: #ffffffe1;
    margin: 50px 0px;
    overflow:auto;
    border-radius: 30px;
}
.lean_man{
    float: right;
    background: url("https://i.ibb.co/DpG31Yq/lean.png") center center no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
    position: relative;
}
.lean_body p{
    float: left;
    position: absolute;
    bottom: 20px;
    padding: 0px 20px;
    max-width: 70vw;
    font-size: 2rem;
}

.user_info{
    width: fit-content;
    background-color: #222;
    height: fit-content;
    font-size: 1.4rem;
    padding: 80px;
    margin: auto;
    color: rgb(240, 240, 240);
    border-radius: 30px;
}
.user_info h1{
    margin: auto;
    margin-bottom: 50px;
    width: fit-content;
}
.user_info label{
    float: left;
}
.user_info input{
    padding: 0px 11px;
    float: right;
    width: 200px;
    height: 27px;
    outline: none;
    border: 0px;
    border-radius: 100px;
}
#next_btn{
    float: right;
    background-color: var(--hangno_blue_dark);
    color: white;
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 20px;
    outline: none;
    border: 1px solid rgb(61, 61, 61); 
    margin-top: 50px;
    text-decoration: none;
}
#next_btn:hover{
    transition-duration: 0.45s;
    transform: scale(0.9);
    font-weight: bold;
}
.user_info hr{
    background-color: rgba(245, 245, 245, 0.664);
    opacity: 0.5;
    margin: 30px 0px;
}


footer{
    margin-top: 100px;
    background-color: #222;
    width: 100vw;
    height :fit-content;
    padding: 20px 0px;
}

footer li{
    background-color: #000;
    border-radius: 20px;
    color: #ffffffb4;
    padding: 10px 16px;
    margin: 20px auto;
}

#next{
    display: none;
    position: fixed;
    top: 0;
    z-index: 102;
    width: 100vw;
    height: 100vh;
    background-color: #33333360;
    backdrop-filter: blur(10px) saturate(181%);
}
.pop_up{
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-color: #ffffffe1;
    border-radius: 25px;
    color: black;
    width: 500px;
    height: 200px;
    padding: 30px;
} 
.pop_up p{
    margin-top: 10px;
}
#welcome{
    margin-bottom: 30px;
}
#close{
    border: none; outline: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: fit-content;
    height: fit-content;
    font-size: 1.4rem;
    line-height: 30px;
    text-align: center;
    color: white;
    border-radius: 20px;
    padding: 10px 30px;
    background-color:var(--hangno_blue_dark);
}
#close:hover{
    transition-duration: 0.45s;
    transform: scale(0.9);
    font-weight: bold;
}

.warm_up{
    position: relative;
    width: fit-content;
    height: fit-content;
    background-color: #000;
    color: #ffffffe1;
    margin-top: 300px;
    padding-top: 100px;
    margin: auto;
}
.wimg{
    float: left;
    background: url("https://i.ibb.co/VHw1B8j/warm-up.gif") center center no-repeat;
    background-size: cover;
    width: 300px;
    height: 300px;
}
.warm_up p{
    float: right;
    bottom: 20px;
    padding: 20px;
    margin-top: 100px;
    margin-right: 30px;
    max-width: 60vw;
    font-size: 1.5rem;
    border-radius: 30px;
}
#join_{
    display: none;
}
#join_:hover{
    transition-duration: 0.45s;
    transform: scale(0.9);
    font-weight: bold;
}

@keyframes slideDown{
    0%{
        background-color: #00000000;
        color: #00000000;
    }
    10%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes fadd{
    from{
        opacity: 0;
    }
    to{
        opacity: 100;
    }
}


/* __________________Media query for homepage__________________ */


@media screen and (max-width: 999px) {
    #brand_name{
      display: none;
    }
    .warm_up{
        width: 100vw;
    }
    .warm_up p{
        width: 546vw;
        margin-top: 0px;
    }
    #join_{
        display: none;
    }
}

@media screen and (max-width: 700px){
    .link_container{display: none;}
    #top_name{
        float: right;
    }
    #vertical_nav{
        display: block;
    }
}

@media screen and (max-width: 700px){
    .left_div{
        float: none;
        margin: auto;
        width: 100vw;
    }
    .left_div p{
        top: 50px; 
        max-width: 50vw;
    }
    #join_{
        display: block;
        position: absolute;
        width: fit-content;
        height: fit-content;
        bottom: 87px;
        left: 0; right: 0;
        margin: auto;
        background-color: var(--hangno_blue_dark);
        color: white;
        font-size: 20px;
        padding: 10px 40px;
        border-radius: 20px;
        outline: none;
        border: 1px solid rgb(61, 61, 61); 
        animation: slideDown 3s; 
    }
    .right_div{
        display: none;
    }
    .ppp{display: none;}
}

@media screen and (max-width: 650px){
    #form{
        width: 85%;
        position: relative;
        z-index: 101;
        font-size: 1.15rem;
        padding: 5%;;
    }
    #form h1{
        margin-bottom: 0px;
    }
}
@media screen and (max-width: 377px){
    #form h1{font-size: 1.4rem;}
}

/* ________________for warmup________________ */
@media screen and (max-width: 930px){
    .warm_up{
        width: 92%;
        margin: auto;
    }
    .wimg{
        float: none;
        width: 260px;
        height: 260px;
        margin: auto;
    }
    .warm_up p{
        float: none;
        max-width: 80%;
        margin: auto;
        font-size: 1.2rem;
    }
}




/* ___________________media query for welcome box___________________ */

@media screen and (max-width: 536px){
    .pop_up{
        width: 80vw;
    }
}

@media screen and (max-width: 470px){
    .pop_up{
        height: 250px;
    }
}
@media screen and (max-width: 404px){
    .pop_up{
        height: 300px;
    }
    #close{
        font-size: 1.1rem;
        left: 0; right: 0;
        margin: auto;
    }
    #welcome{
        font-size: 1.6rem;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 314px){
    .pop_up{width: 202px;}
}

@media screen and (max-width: 636px){
    .lean_body{
        background-color: #000000;
    }
    .lean_man{
        width: 270px;
        max-width: 40vw;
        height: 270px;
    }
    .lean_body p{
        max-width: 60vw;
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 330px){
    #brand_{
        font-size: 2.9rem;
    }
    #join_{
        font-size: 16px;
        background-color: red;
        padding: 7px 25px;
        border: none;
    }
}

@media screen and (max-width: 327px){
    .user_info label{
        float: none;
    }
    .user_info input{
        float: none;
        width: 92.5%;
        height: 27px;
        margin: 10px 0px;
    }
    .contact_us{display: none;}
}